body{
    background-color: #DCEDF8;
}
.songDetailInnerContainer{
    list-style-type:disc
}
.playlistContainer{
max-width: 350px;border: 5px solid;overflow-y: scroll;max-height:380px;float:left;margin-left: 21px;margin-top: 63px;margin-right: 31px;
}
.imgContainer{
    margin-left: -2px;margin-top: 63px;padding-left: 17px;padding-top: 0px;max-width: 679px;float: left;
}
.submitBtn{
    margin-left: 390px;
}
.songDetail.buttonContainer{
    list-style-type:none
}
.addNewSong {
position: relative;
top: 81px;
right: 354px;
margin-top: 12px;
width: 166px;
background: #4E9CAF;
padding: 9px;
text-align: center;
border-radius: 5px;
color: white;
font-weight: bold;
border-color: #4e9caf;
}
.getInfo {
    float: right;
}
.songDetail h5 {
  margin-top: -41px;
}
.songDetail.container{
    margin-left: 446px;margin-top: 18px;padding-left: 100px;padding-top: 100px;
}
.itemLabel {
      font-weight: bold;
}
.playBtn{
width: 166px;height: 140px;background: #4E9CAF;padding: 9px;text-align: center;border-radius: 5px;color: white;font-weight: bold;
}

.playBtn:hover{
text-decoration: none;
}
.buttonContainer{
    display:inline-block;
    list-style-type:none;
    margin-left: -52px;
margin-bottom: 30px;
margin-top: 15px;
}
.audioContainer{
    margin-left: -10px;
}
.modal-content{
    width: 583px;
 height: 252px;
 position: relative;
top: 133px;
 left: 324px;
padding-left: 29px;
padding-top: 12px;
border: 5px solid #4E9CAF;
}
.modal-content label{
    display: inline-block;
margin-bottom: 20px;
width: 108px;
font-weight: bold;}

.modal-content input{

width:343px;
}

.modal-content button{
margin-left: 144px!important;
width: 135px;
height: 42px;
background: #4E9CAF;
text-align: center;
border-radius: 5px;
color: white;
font-weight: bold;
}

.modal-content .close{
margin-left:520px;
}
